@page "/Usuario"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager
@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<PageTitle>Usuarios</PageTitle>

@if(sesion == false)
{

}
else
{    
    <div class="tittle">
    <div class="tittle_content">
        <h1>Usuario</h1>
    </div>
    <div class="tittle_btn">
        <a href="/Usuario/add" class="btn btn-success">
        <i class="oi oi-plus"></i>
        &nbsp
        Agregar
        </a>
    </div>
</div>




@if (UsuarioFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var UsuarioRecorrido in UsuarioFor)
            {
                <tr>
                    <td>@UsuarioRecorrido.Id</td>
                    <td>@UsuarioRecorrido.Nombres</td>
                    <td>@UsuarioRecorrido.Apellidos</td>
                    <td>@UsuarioRecorrido.Correo</td>
                    @if(UsuarioRecorrido.RolIdRol == 1)
                    {
                        <td> Administrador </td>
                    }
                    @if(UsuarioRecorrido.RolIdRol == 2)
                    {
                        <td> Asesor </td>
                    }
                    @if(UsuarioRecorrido.RolIdRol == 3)
                    {
                        <td> Usuario </td>
                    }
                    <td>
                        <span class="icon">
                            <a href="/Usuario/update/@UsuarioRecorrido.Id" class="oi oi-pencil" title="Editar"></a>
                        </span>
                        &nbsp
                        <span class="icon">
                            <a href="/Usuario/delete/@UsuarioRecorrido.Id" class="oi oi-trash" title="Eliminar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
}





@code {
    private readonly string api = "api/Usuario/all";
    private IList<UsuarioModel>? UsuarioFor;
    private ResponseLogin? userLog;
    private bool sesion = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {

                var result = await SessionStorage.GetAsync<string>("Token");
                string Token = result.Success ? result.Value : "";

                if(Token == "")
                {
                    NavigationManager.NavigateTo("/Login");
                }

                var request = new HttpRequestMessage(HttpMethod.Get, $"api/Login/ValidateToken/{Token}");
                using var httpResponseInitial = await http.SendAsync(request);
                userLog = await httpResponseInitial.Content.ReadFromJsonAsync<ResponseLogin>();


                    if(userLog == null)
                    {
                        NavigationManager.NavigateTo("/Login");
                    }
                    else if(userLog.RolIdRol != 1)
                    {
                        NavigationManager.NavigateTo("/");
                    }
                    else
                    {
                        sesion = true;
                        UsuarioFor = await http.GetFromJsonAsync<IList<UsuarioModel>>(api);
                        
                    }
                

                StateHasChanged();
                
            }
            catch(Exception ex)
            {
               
            }
        }
        
    }

}