@page "/Especialidad"

<PageTitle>Especialidad</PageTitle>

@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<div class="tittle">
    <div class="tittle_content">
        <h1>Especialidad</h1>
    </div>
    <div class="tittle_btn">
        <a href="/Especialidad/add" class="btn btn-success">
        <i class="oi oi-plus"></i>
        &nbsp
        Agregar
        </a>
    </div>
</div>

<p>This component demonstrates fetching data from a service.</p>

@if (EspecialidadFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Especialidad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RecorridoEspecial in EspecialidadFor.Reverse())
            {
                <tr>
                    <td>@RecorridoEspecial.Id</td>
                    <td>@RecorridoEspecial.Nombre</td>
                    <td>
                        <span class="icon">
                            <a href="/Especialidad/update/@RecorridoEspecial.Id" class="oi oi-pencil" title="Editar"></a>
                        </span>
                        &nbsp
                        <span class="icon">
                            <a href="/Especialidad/delete/@RecorridoEspecial.Id" class="oi oi-trash" title="Eliminar"></a>
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Especialidad/all";
    private IList<EspecialidadModel>? EspecialidadFor;

    protected override async Task OnInitializedAsync()
    {
        EspecialidadFor = await http.GetFromJsonAsync<IList<EspecialidadModel>>(api);
    }
}