@page "/Login"
@layout NavLogin
<link rel="stylesheet" href="/css/Pages/index.css">
    <div class="master">
            <img src="/images/logo_version_wyr.png" />
            <form>
                <label> Correo Electronico: </label>
                <input type="text">
                <label> Contraseña: </label>
                <input type="password">
                <input type="button" value="Iniciar Sesión">
            </form>
            <a href="/Registro"> ¿No tienes una cuenta? Registrate </a>
    </div>


@code {

}
