.container {
    padding: 5%;
}
#icon-user{
    font-size: 6vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: inherit;
}
#sd {
    background-color: white;
    margin-top: 5%;
    padding: 3%;
    border-radius: 10px;
    border: 1px #DEDEDE solid;
}

input {
    margin: 2%;
    background-color: #DFDFDF;
}

    input:focus {
        outline: none;
        border: 1px red solid;
        box-shadow: 2px 2px 5px 2px rgba(255,18,58, 0.1);
        background-color: #DFDFDF;
    }
button, a {
    margin-top: 5%;
}
#btn-edit {
    background-color: #000585;
    color: white;
    padding: 1%;
    border: none;
    border-radius: 5px;
    border: 1px #000585 solid;
}
#btn-save {
    background-color: white;
    color: #000585;
    padding: 1%;
    border: none;
    border-radius: 5px;
    border: 1px #000585 solid;
}
#btn-save:hover {
    background-color: #000585;
    color: white;
}
#btn-edit:hover{
    text-decoration: underline;
    text-decoration-color: white;
}