@page "/Registro"
@layout NavLogin
<link rel="stylesheet" href="/css/Pages/index.css">

<div class="master">
        <img src="/images/logo_version_wyr.png" />
        <form>
            <label> Nombres: </label>
            <input type="text">
            <label> Apellidos: </label>
            <input type="text">
            <label> Correo Electronico: </label>
            <input type="text">
            <label> Contraseña: </label>
            <input type="password">
            <input type="button" value="Registrar">
        </form>
        <a href="/Login"> ¿Ya tienes una cuenta? Inicia sesión </a>
</div>

@code {

}
