@page "/Registro"
@layout NavLogin
<PageTitle> HelpDents | Registro </PageTitle>
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage BrowserStorage
@inject NavigationManager NavigationManager
@inject HttpClient http

<link rel="stylesheet" href="/css/Pages/index.css">

<div class="master">
    <EditForm Model="@user">
        <img src="/images/logo_version_wyr.png" />
        <form @onsubmit="OnValidSubmit">
            <label> Nombres: </label>
            <input type="text" @bind-value="user.Nombres" required>
            <label> Apellidos: </label>
            <input type="text" @bind-value="user.Apellidos" required>
            <label> Correo Electronico: </label>
            <input type="email" @bind-value="user.Correo" required>
            @if (requestfail == true)
            {
                <h1 id="alert-fail"> Ya existe una cuenta con este correo </h1>
            }
            <label> Contraseña: </label>
            <input type="password" @bind-value="user.Contraseña" required>
            <button type="submit"> Registrar </button>
        </form>
    </EditForm>


    <div id="btn">
        <a href="/Login"> ¿Ya tienes una cuenta? Inicia sesión </a>
    </div>
</div>


@code {
    private UsuarioModel user = new UsuarioModel();
    private bool loading;
    bool requestfail = false;

    private async void OnValidSubmit()
    {
        // reset alerts on submit



        loading = true;
        try
        {
            user.RolIdRol = 3;
            var response = await http.PostAsJsonAsync<UsuarioModel>($"api/Register", user!);
            if (response.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/Login");
            }
            else
            {
                requestfail = true;
            }

        }
        catch (Exception)
        {

            loading = false;
            StateHasChanged();
        }
    }
}
