@page "/Comentario"

<PageTitle>Comentario</PageTitle>

@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<h1>Comentario</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (ComentarioFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Descripcion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RecorridoComentario in ComentarioFor)
            {
                <tr>
                    <td>@RecorridoComentario.Id</td>
                    <td>@RecorridoComentario.Nombres @RecorridoComentario.Apellidos</td>
                    <td>@RecorridoComentario.Descripcion</td>
                    <span class="icon">
                            <a href="/Comentario/delete/@RecorridoComentario.Id" class="oi oi-trash" title="Eliminar"></a>
                    </span>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Comentario/all";
    private IList<ComentarioModel>? ComentarioFor;

    protected override async Task OnInitializedAsync()
    {
        ComentarioFor = await http.GetFromJsonAsync<IList<ComentarioModel>>(api);
    }
}