@page "/AsesorTurno/add"

@using System.Net.Http
@using System.Net.Http.Json
@using HelpDentsProyecto.Data.Models
@using HelpDentsProyecto.Data
@inject HttpClient http
@inject NavigationManager NavigationManager


<PageTitle>Agregar turnos de Asesores </PageTitle>
<h1>Agregar turnos de Asesores</h1>



<EditForm Model="@aht"> 
    <form class="container border" @onsubmit="Save">
        <div class="mb-2">
            <label class="form-label" for="name">Asesor Id</label>
            <input type="number" class="form-control" @bind-value="@aht.Asesor_idAsesor" id="idAsesor" required></input>
        </div>
        <div class="mb-2">
            <label class="form-label" for="name">Turno Id</label>
            <input type="number" class="form-control" @bind-value="@aht.Turno_idTurno" id="idTurno" required></input>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-danger" href="/AsesorTurno">Cancelar</a>
    </form> 
</EditForm>




@code {
   
    AsesorHasTurnoModel aht = new AsesorHasTurnoModel();


    protected async Task Save()
    {
        HttpResponseMessage? response;
       
        response = await http.PostAsJsonAsync<AsesorHasTurnoModel>("api/AsesorTurno", aht!);
        
        NavigationManager.NavigateTo("/AsesorTurno");
        

    }



}

