#body {
    background-image: none;
    background-color: blue;
}

#banner {
    width: 100%;
}

.container {
    padding: 8%;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 2.5vw;
    color: #000585;
}

p {
    margin-bottom: 5%;
    text-align: justify;
    font-size: 1.5vw;
}

img {
    width: 100%;
}

#banner2 {
    padding: 10%;
    background-image: url(images/banner2.png);
    background-size: 70%;
}

#btn-register {
    background-color: #FF123A;
    color: white;
    padding: 1%;
    text-decoration: none;
    position: absolute;
    margin-top: 28%;
    margin-left: -57%;
    border-radius: 7px;
}

    #btn-register:hover {
        text-decoration: underline;
    }

.avatar {
    padding: 5%;
    text-align: center;
}

h2 {
    margin-top: 5%;
    font-size: 2vw;
    color: #FF123A;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.btn-git {
    color: black;
    text-decoration: none;
    font-size: 1.2vw;
}

    .btn-git:hover {
        text-decoration: underline;
    }

footer {
    background-color: #FF123A;
    padding: 2%;
}

h3 {
    color: white;
    font-size: 2vw;
}
