@page "/"
@layout NavHelpDents
<PageTitle> HelpDents </PageTitle>
<img src="/images/banner.png" id="banner" />
<div class="container">
    <h1> ¿Quienes Somos? </h1>
    <p>
        HelpDents es un proyecto que nace en base a la gran problematica de la deserción escolar que existe dentro de las universidades, el nombre de este proyecto es una abreviatura de Help Students,
        para nosotros este proyecto signifca un gran desafio que afrontar ya que nuestro objetivo es disminuir en gran medida las bajas por rendimiento escolar que existe en la UTM.
    </p>

    <h1> Misión </h1>
    <p>
        Reducir el número de deserciones escolares por rendimiento dentro de la UTM, así como tener una gran base de asesores dispuestos a compartir sus conocimientos y ser una red completa entre maestros
        y alumnos apoyandose entre sí.
    </p>

    <h1> Visión </h1>
    <p>
        Ser la principal fuente de apoyo para alumnos con problemas de rendimiento escolar y primera opción para alumnos o maestros dispuestos a aumentar sus ingresos convirtiendose en asesores.
    </p>
</div>
<img src="images/banner2.png" />
<a href="/Registro" id="btn-register"> ¡Quiero ayudar ahora mismo! </a>
<div class="container">
    <h1> Colaboradores </h1>
    <div class="row">
        <div class="col-sm-4 avatar">
            <img src="/images/jona.png" />
            <h2> Jonathan Sabido </h2>
            <a href="https://github.com/JonaSabido" class="btn-git"> GitHub <span class="oi oi-external-link"></span></a>
        </div>
        <div class="col-sm-4 avatar">
            <img src="/images/abraham.png" />
            <h2> Abraham Herrera </h2>
            <a href="https://github.com/AbrahamHerrera011" class="btn-git"> GitHub <span class="oi oi-external-link"></span></a>
        </div>
        <div class="col-sm-4 avatar">
            <img src="/images/christian.png" />
            <h2> Christian Balam </h2>
            <a href="https://github.com/Balam2001" class="btn-git"> GitHub <span class="oi oi-external-link"></span></a>
        </div>
    </div>
</div>



@code {

}
