@page "/Usuario"

<PageTitle>Usuarios</PageTitle>

@using HelpDentsProyecto.Data
@using HelpDentsProyecto.Data.Models
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient http

<div class="tittle">
    <div class="tittle_content">
        <h1> Usuario</h1>
    </div>
    <div class="tittle_btn">
        <a href="" class="btn btn-success">
        <i class="oi oioi-plus"></i>
        &nbsp
        Agregar
        </a>
    </div>
</div>


<p>This component demonstrates fetching data from a service.</p>

@if (UsuarioFor == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var UsuarioRecorrido in UsuarioFor)
            {
                <tr>
                    <td>@UsuarioRecorrido.Nombres</td>
                    <td>@UsuarioRecorrido.Apellidos</td>
                    <td>@UsuarioRecorrido.Correo</td>
                    <td>@UsuarioRecorrido.Contraseña</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly string api = "api/Usuario/all";
    private IList<UsuarioModel>? UsuarioFor;

    protected override async Task OnInitializedAsync()
    {
        UsuarioFor = await http.GetFromJsonAsync<IList<UsuarioModel>>(api);
    }
}