@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage SessionStorage

@using HelpDentsProyecto.Data.Models
@using HelpDentsProyecto.Data

<nav id="nav" class="navbar">
  <div>
      <a href="/" id="logo">  
        <img src="/images/logo.png" id="img-logo"/>
        
      </a>
  </div>
    
       <div class="input-wrapper">
      <input type="search" placeholder="Buscar" id="inputSearch" @bind-value="@user.Nombres"/>
      <a href="/Asesores/search/@user.Nombres" > 
        <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor" id="btnSearch">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
      </a>
      </div> 
   
  <div>
      @if(id == 0)
        {
            <a href="/Registro" id="botonRegistro"> Registrarse </a>
            <a href="/Login" id="botonLogin"> Iniciar Sesión </a>
         }
        else
        {
           <a href="/Login" id="botonLogin"> Cerrar Sesión </a> 
        }

      
  </div>

</nav>



@Body

@code{
    UsuarioModel user = new UsuarioModel();
    int id;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var result = await SessionStorage.GetAsync<int>("Id");
                id = result.Success ? result.Value : 0;
                StateHasChanged();
            }
            catch(Exception ex)
            {
                id = 0;
            }
        }
        
    }
}