@page "/AsesorEspecialidad/add"

@using System.Net.Http
@using System.Net.Http.Json
@using HelpDentsProyecto.Data.Models
@using HelpDentsProyecto.Data
@inject HttpClient http
@inject NavigationManager NavigationManager


<PageTitle>Agregar Especialidad de Asesor </PageTitle>
<h1>Agregar Especialidad de Asesor</h1>



<EditForm Model="@ahe"> 
    <form class="container border" @onsubmit="Save">
        <div class="mb-2">
            <label class="form-label" for="name">Asesor Id</label>
            <input type="number" class="form-control" @bind-value="@ahe.Asesor_idAsesor" id="idAsesor"></input>
        </div>
        <div class="mb-2">
            <label class="form-label" for="name">Especialidad Id</label>
            <input type="number" class="form-control" @bind-value="@ahe.Especialidad_idEspecialidad" id="idEspecialidad"></input>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-danger" href="/AsesorEspecialidad">Cancelar</a>
    </form> 
</EditForm>




@code {
   
    AsesorHasEspecialidadModel ahe = new AsesorHasEspecialidadModel();


    protected async Task Save()
    {
        HttpResponseMessage? response;
       
        response = await http.PostAsJsonAsync<AsesorHasEspecialidadModel>("api/AsesorEspecialidad", ahe!);
        
        NavigationManager.NavigateTo("/AsesorEspecialidad");
        

    }



}
